# objetivo del proyecto
Identificar patrones que determinen si un juego tiene éxito o no. detectar proyectos prometedores y planificar campañas publicitarias.

In [1]:
# se importan las principales librerias a usar,     que se iran actualizando mediante el desarrollo del proyecto
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('games.csv')
df.head()

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

In [4]:
# se reemplaza el nombre de las columnas a minusculas.
df.columns = df.columns.str.lower()

In [5]:
# se verifica nuevamente el DataFrame
df.head()

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN

In [6]:
# se organiza el dataframe por ano de lanzamiento para mayor comprension y analisis
df.sort_values(by=['year_of_release'], ascending=False, inplace=True)

In [7]:
df.head()

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
16714,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.00,NaN,NaN,NaN
14400,DiRT Rally,PC,2016.0,Racing,0.00,0.03,0.00,0.00,86.0,8.7,E
2024,NBA 2K17,XOne,2016.0,Sports,0.86,0.06,0.00,0.11,90.0,6.2,E
15456,Carmageddon: Max Damage,XOne,2016.0,Action,0.01,0.01,0.00,0.00,52.0,7.1,M
14385,Tokyo Xanadu eX+,PS4,2016.0,Role-Playing,0.00,0.00,0.03,0.00,NaN,NaN,NaN

In [8]:
# se verifica la cantidad de valores ausentes en el DataFrame
df.isnull().sum()

name                  2
platform              0
year_of_release     269
genre                 2
na_sales              0
eu_sales              0
jp_sales              0
other_sales           0
critic_score       8578
user_score         6701
rating             6766
dtype: int64

In [9]:
# se reemplaza todos los valores nulo por 0.
df[['year_of_release','critic_score','user_score','rating']] = df[['year_of_release','critic_score','user_score','rating']].fillna(0)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16715 entries, 16714 to 16522
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16713 non-null  object
 1   platform         16715 non-null  object
 2   year_of_release  16715 non-null  float64
 3   genre            16713 non-null  object
 4   na_sales         16715 non-null  float64
 5   eu_sales         16715 non-null  float64
 6   jp_sales         16715 non-null  float64
 7   other_sales      16715 non-null  float64
 8   critic_score     16715 non-null  float64
 9   user_score       16715 non-null  object
 10  rating           16715 non-null  object
dtypes: float64(6), object(5)
memory usage: 1.5+ MB

## valores ausentes

se reemplazan los valores ausentes por 0, ya que al realizar el analisis del dataframe el valor 0 corresponde al ano de lanzamiento del juego, se decide rellenar con 0 para no perder informacion relevante tal como el rating de los juegos, y el valor de la critica.

In [11]:
# se cambian el tipo de datos de algunas columnas del dataframe
df[['year_of_release','critic_score']] = df[['year_of_release','critic_score']].astype(int)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16715 entries, 16714 to 16522
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16713 non-null  object
 1   platform         16715 non-null  object
 2   year_of_release  16715 non-null  int64
 3   genre            16713 non-null  object
 4   na_sales         16715 non-null  float64
 5   eu_sales         16715 non-null  float64
 6   jp_sales         16715 non-null  float64
 7   other_sales      16715 non-null  float64
 8   critic_score     16715 non-null  int64
 9   user_score       16715 non-null  object
 10  rating           16715 non-null  object
dtypes: float64(4), int64(2), object(5)
memory usage: 1.5+ MB

In [13]:
df.query('(na_sales > 1) and (jp_sales < 1) and (eu_sales < 1) and (other_sales < 1) and user_score == "tbd"').head()

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
718,Just Dance Kids,Wii,2010,Misc,1.52,0.54,0.0,0.18,0,tbd,E
645,uDraw Studio,Wii,2010,Misc,1.65,0.57,0.0,0.20,71,tbd,E
1284,Disney Sing It: Pop Hits,Wii,2009,Misc,1.07,0.28,0.0,0.13,0,tbd,E
1070,Game Party 3,Wii,2009,Puzzle,1.40,0.16,0.0,0.12,37,tbd,E
726,Dance Dance Revolution X2,PS2,2009,Simulation,1.09,0.85,0.0,0.28,0,tbd,E10+

se puede inferir que la abreviatura "tbd" corresponde cuando existen ventas menores a 1 millon de dolares en alguno de los 4 mercados analizados